In [1]:
# coding:utf-8

import numpy as np
import pandas as pd
from pandas import Series, DataFrame

import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split


%matplotlib inline

In [2]:
sub1 = pd.read_csv('submission1.csv',encoding='utf-8',index_col = False, delimiter='\,',
                                 )
result1 = sub1.groupby("user_id",as_index=False).apply(lambda x:x.sort_values("score",ascending=False))

sub2 = pd.read_csv('submission2.csv',encoding='utf-8',index_col = False, delimiter='\,',
                                 )
result2 = sub2.groupby("user_id",as_index=False).apply(lambda x:x.sort_values("score",ascending=False))

sub3 = pd.read_csv('submission2_x.csv',encoding='utf-8',index_col = False, delimiter='\,',
                                 )
result3 = sub3.groupby("user_id",as_index=False).apply(lambda x:x.sort_values("score",ascending=False))

/home/ubuntu/anaconda3/envs/tensorflow_p36/lib/python3.6/site-packages/ipykernel/__main__.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  if __name__ == '__main__':
/home/ubuntu/anaconda3/envs/tensorflow_p36/lib/python3.6/site-packages/ipykernel/__main__.py:5: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
/home/ubuntu/anaconda3/envs/tensorflow_p36/lib/python3.6/site-packages/ipykernel/__main__.py:9: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.

In [3]:
result1.groupby("user_id")["score"].max().min()

-100.0

In [4]:
result2.head()

                              user_id                             jd_no  \
0 0  002a5c1d9a6a49a2127bbabe2b1a2f99  aa7eee0e03f628ac98597cfb357a5f4d
  1  002a5c1d9a6a49a2127bbabe2b1a2f99  2de05719699a87a5e009cef158b10341
  2  002a5c1d9a6a49a2127bbabe2b1a2f99  33f41c7c7ded4ff4c1eafb61d1b0b13e
  3  002a5c1d9a6a49a2127bbabe2b1a2f99  b9a223fa5d0de6f92aa291483f3214ba
  4  002a5c1d9a6a49a2127bbabe2b1a2f99  dff38c7b1f0d8a6fb106baf05d577b83

        score
0 0  0.045854
  1 -0.004416
  2 -0.032056
  3 -0.044184
  4 -0.054059

In [5]:
from scipy.stats import rankdata
group_data_sub1 = pd.DataFrame(columns=['user_id','jd_no','rank'])

for idx, group in result1.groupby("user_id"):
    #group['rank']=rankdata(group['score'])/rankdata(group['score']).max(
    group['rank'] = group['score'].rank(ascending=True, method='min')/group['score'].rank(ascending=True, method='min').max()
    for i in range(0,len(group)):
        group_data_sub1 = group_data_sub1.append({'user_id':group['user_id'].values[i],'jd_no':group['jd_no'].values[i],'rank':group['rank'].values[i]},ignore_index=True)     
        #print(group_data_sub1)

/home/ubuntu/anaconda3/envs/tensorflow_p36/lib/python3.6/site-packages/ipykernel/__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [6]:
group_data_sub2 = pd.DataFrame(columns=['user_id','jd_no','rank'])

for idx, group in result2.groupby("user_id"):
    #group['rank']=rankdata(group['score'])/rankdata(group['score']).max(
    group['rank'] = group['score'].rank(ascending=True, method='min')/group['score'].rank(ascending=True, method='min').max()
    for i in range(0,len(group)):
        group_data_sub2 = group_data_sub2.append({'user_id':group['user_id'].values[i],'jd_no':group['jd_no'].values[i],'rank':group['rank'].values[i]},ignore_index=True)     
        #print(group_data_sub1)

group_data_sub2.head()

/home/ubuntu/anaconda3/envs/tensorflow_p36/lib/python3.6/site-packages/ipykernel/__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,user_id,jd_no,rank
0,002a5c1d9a6a49a2127bbabe2b1a2f99,aa7eee0e03f628ac98597cfb357a5f4d,1.000000
1,002a5c1d9a6a49a2127bbabe2b1a2f99,2de05719699a87a5e009cef158b10341,0.988095
2,002a5c1d9a6a49a2127bbabe2b1a2f99,33f41c7c7ded4ff4c1eafb61d1b0b13e,0.976190
3,002a5c1d9a6a49a2127bbabe2b1a2f99,b9a223fa5d0de6f92aa291483f3214ba,0.964286
4,002a5c1d9a6a49a2127bbabe2b1a2f99,dff38c7b1f0d8a6fb106baf05d577b83,0.952381

In [7]:
group_data_sub3 = pd.DataFrame(columns=['user_id','jd_no','rank'])

for idx, group in result3.groupby("user_id"):
    #group['rank']=rankdata(group['score'])/rankdata(group['score']).max(
    group['rank'] = group['score'].rank(ascending=True, method='min')/group['score'].rank(ascending=True, method='min').max()
    for i in range(0,len(group)):
        group_data_sub3 = group_data_sub3.append({'user_id':group['user_id'].values[i],'jd_no':group['jd_no'].values[i],'rank':group['rank'].values[i]},ignore_index=True)     
        #print(group_data_sub1)

group_data_sub3.head()

/home/ubuntu/anaconda3/envs/tensorflow_p36/lib/python3.6/site-packages/ipykernel/__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,user_id,jd_no,rank
0,002a5c1d9a6a49a2127bbabe2b1a2f99,9d0917fe2aeec95b5b0bb661b24fb7c5,1.000000
1,002a5c1d9a6a49a2127bbabe2b1a2f99,aa7eee0e03f628ac98597cfb357a5f4d,0.988095
2,002a5c1d9a6a49a2127bbabe2b1a2f99,832a5f89fa94d34aa63d1c790f250e1e,0.976190
3,002a5c1d9a6a49a2127bbabe2b1a2f99,dff38c7b1f0d8a6fb106baf05d577b83,0.964286
4,002a5c1d9a6a49a2127bbabe2b1a2f99,2de05719699a87a5e009cef158b10341,0.952381

In [9]:
group_data_table = pd.merge(group_data_sub1,group_data_sub2,how="inner",on=["user_id","jd_no"])
group_data_table_2 = pd.merge(group_data_table,group_data_sub3,how="inner",on=["user_id","jd_no"])
group_data_table_2.head()

,user_id,jd_no,rank_x,rank_y,rank
0,002a5c1d9a6a49a2127bbabe2b1a2f99,1d920657943c874df4c071d00b59b460,1.000000,0.297619,0.416667
1,002a5c1d9a6a49a2127bbabe2b1a2f99,aa7eee0e03f628ac98597cfb357a5f4d,0.988095,1.000000,0.988095
2,002a5c1d9a6a49a2127bbabe2b1a2f99,9d0917fe2aeec95b5b0bb661b24fb7c5,0.976190,0.714286,1.000000
3,002a5c1d9a6a49a2127bbabe2b1a2f99,832a5f89fa94d34aa63d1c790f250e1e,0.964286,0.916667,0.976190
4,002a5c1d9a6a49a2127bbabe2b1a2f99,a9b4d47088734fb953fbdf51c46ae827,0.952381,0.011905,0.011905

In [10]:
group_data_table_2['rank_z'] = (group_data_table_2['rank_x']+group_data_table_2['rank_y']+group_data_table_2['rank'])/3
group_data_table_2.head()

,user_id,jd_no,rank_x,rank_y,rank,rank_z
0,002a5c1d9a6a49a2127bbabe2b1a2f99,1d920657943c874df4c071d00b59b460,1.000000,0.297619,0.416667,0.571429
1,002a5c1d9a6a49a2127bbabe2b1a2f99,aa7eee0e03f628ac98597cfb357a5f4d,0.988095,1.000000,0.988095,0.992063
2,002a5c1d9a6a49a2127bbabe2b1a2f99,9d0917fe2aeec95b5b0bb661b24fb7c5,0.976190,0.714286,1.000000,0.896825
3,002a5c1d9a6a49a2127bbabe2b1a2f99,832a5f89fa94d34aa63d1c790f250e1e,0.964286,0.916667,0.976190,0.952381
4,002a5c1d9a6a49a2127bbabe2b1a2f99,a9b4d47088734fb953fbdf51c46ae827,0.952381,0.011905,0.011905,0.325397

In [12]:
result = group_data_table_2.groupby("user_id",as_index=False).apply(lambda x:x.sort_values("rank_z",ascending=False))
result.head()

                               user_id                             jd_no  \
0 1   002a5c1d9a6a49a2127bbabe2b1a2f99  aa7eee0e03f628ac98597cfb357a5f4d
  3   002a5c1d9a6a49a2127bbabe2b1a2f99  832a5f89fa94d34aa63d1c790f250e1e
  2   002a5c1d9a6a49a2127bbabe2b1a2f99  9d0917fe2aeec95b5b0bb661b24fb7c5
  6   002a5c1d9a6a49a2127bbabe2b1a2f99  42049532325f80aeed9186b9c571dd22
  21  002a5c1d9a6a49a2127bbabe2b1a2f99  ac2768f3be0725276390ce732afffb5f

        rank_x    rank_y      rank    rank_z
0 1   0.988095  1.000000  0.988095  0.992063
  3   0.964286  0.916667  0.976190  0.952381
  2   0.976190  0.714286  1.000000  0.896825
  6   0.785714  0.809524  0.940476  0.845238
  21  0.726190  0.892857  0.869048  0.829365

In [13]:
result[["user_id","jd_no"]].to_csv("submission3_du.csv",index=False)

In [14]:
result[["user_id","jd_no"]].shape

(29674, 2)