In [7]:
# coding:utf-8

import numpy as np
import pandas as pd
from pandas import Series, DataFrame

import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split


%matplotlib inline

In [8]:
sub1 = pd.read_csv('submission1.csv',encoding='utf-8',index_col = False, delimiter='\,',
                                 )
result1 = sub1.groupby("user_id",as_index=False).apply(lambda x:x.sort_values("score",ascending=False))

sub2 = pd.read_csv('submission2.csv',encoding='utf-8',index_col = False, delimiter='\,',
                                 )
result2 = sub2.groupby("user_id",as_index=False).apply(lambda x:x.sort_values("score",ascending=False))

/home/ubuntu/anaconda3/envs/tensorflow_p36/lib/python3.6/site-packages/ipykernel/__main__.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  if __name__ == '__main__':
/home/ubuntu/anaconda3/envs/tensorflow_p36/lib/python3.6/site-packages/ipykernel/__main__.py:5: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.

In [9]:
result1.groupby("user_id")["score"].max().min()

-100.0

In [10]:
result2.head()

                              user_id                             jd_no  \
0 0  002a5c1d9a6a49a2127bbabe2b1a2f99  aa7eee0e03f628ac98597cfb357a5f4d
  1  002a5c1d9a6a49a2127bbabe2b1a2f99  2de05719699a87a5e009cef158b10341
  2  002a5c1d9a6a49a2127bbabe2b1a2f99  33f41c7c7ded4ff4c1eafb61d1b0b13e
  3  002a5c1d9a6a49a2127bbabe2b1a2f99  b9a223fa5d0de6f92aa291483f3214ba
  4  002a5c1d9a6a49a2127bbabe2b1a2f99  dff38c7b1f0d8a6fb106baf05d577b83

        score
0 0  0.045854
  1 -0.004416
  2 -0.032056
  3 -0.044184
  4 -0.054059

In [11]:
from scipy.stats import rankdata
group_data_sub1 = pd.DataFrame(columns=['user_id','jd_no','rank'])

for idx, group in result1.groupby("user_id"):
    #group['rank']=rankdata(group['score'])/rankdata(group['score']).max(
    group['rank'] = group['score'].rank(ascending=True, method='min')/group['score'].rank(ascending=True, method='min').max()
    for i in range(0,len(group)):
        group_data_sub1 = group_data_sub1.append({'user_id':group['user_id'].values[i],'jd_no':group['jd_no'].values[i],'rank':group['rank'].values[i]},ignore_index=True)     
        #print(group_data_sub1)

/home/ubuntu/anaconda3/envs/tensorflow_p36/lib/python3.6/site-packages/ipykernel/__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [12]:
group_data_sub2 = pd.DataFrame(columns=['user_id','jd_no','rank'])

for idx, group in result2.groupby("user_id"):
    #group['rank']=rankdata(group['score'])/rankdata(group['score']).max(
    group['rank'] = group['score'].rank(ascending=True, method='min')/group['score'].rank(ascending=True, method='min').max()
    for i in range(0,len(group)):
        group_data_sub2 = group_data_sub2.append({'user_id':group['user_id'].values[i],'jd_no':group['jd_no'].values[i],'rank':group['rank'].values[i]},ignore_index=True)     
        #print(group_data_sub1)

group_data_sub2.head()

/home/ubuntu/anaconda3/envs/tensorflow_p36/lib/python3.6/site-packages/ipykernel/__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,user_id,jd_no,rank
0,002a5c1d9a6a49a2127bbabe2b1a2f99,aa7eee0e03f628ac98597cfb357a5f4d,1.000000
1,002a5c1d9a6a49a2127bbabe2b1a2f99,2de05719699a87a5e009cef158b10341,0.988095
2,002a5c1d9a6a49a2127bbabe2b1a2f99,33f41c7c7ded4ff4c1eafb61d1b0b13e,0.976190
3,002a5c1d9a6a49a2127bbabe2b1a2f99,b9a223fa5d0de6f92aa291483f3214ba,0.964286
4,002a5c1d9a6a49a2127bbabe2b1a2f99,dff38c7b1f0d8a6fb106baf05d577b83,0.952381

In [13]:
group_data_table = pd.merge(group_data_sub1,group_data_sub2,how="inner",on=["user_id","jd_no"])

In [14]:
group_data_table['rank'] = (group_data_table['rank_x']+group_data_table['rank_y'])/2
group_data_table.head()

,user_id,jd_no,rank_x,rank_y,rank
0,002a5c1d9a6a49a2127bbabe2b1a2f99,1d920657943c874df4c071d00b59b460,1.000000,0.297619,0.648810
1,002a5c1d9a6a49a2127bbabe2b1a2f99,aa7eee0e03f628ac98597cfb357a5f4d,0.988095,1.000000,0.994048
2,002a5c1d9a6a49a2127bbabe2b1a2f99,9d0917fe2aeec95b5b0bb661b24fb7c5,0.976190,0.714286,0.845238
3,002a5c1d9a6a49a2127bbabe2b1a2f99,832a5f89fa94d34aa63d1c790f250e1e,0.964286,0.916667,0.940476
4,002a5c1d9a6a49a2127bbabe2b1a2f99,a9b4d47088734fb953fbdf51c46ae827,0.952381,0.011905,0.482143

In [15]:
result = group_data_table.groupby("user_id",as_index=False).apply(lambda x:x.sort_values("rank",ascending=False))
result.head()

                               user_id                             jd_no  \
0 1   002a5c1d9a6a49a2127bbabe2b1a2f99  aa7eee0e03f628ac98597cfb357a5f4d
  3   002a5c1d9a6a49a2127bbabe2b1a2f99  832a5f89fa94d34aa63d1c790f250e1e
  2   002a5c1d9a6a49a2127bbabe2b1a2f99  9d0917fe2aeec95b5b0bb661b24fb7c5
  25  002a5c1d9a6a49a2127bbabe2b1a2f99  b9a223fa5d0de6f92aa291483f3214ba
  11  002a5c1d9a6a49a2127bbabe2b1a2f99  4f31eaaf1629bf822f482be7b2f7a90a

        rank_x    rank_y      rank
0 1   0.988095  1.000000  0.994048
  3   0.964286  0.916667  0.940476
  2   0.976190  0.714286  0.845238
  25  0.702381  0.964286  0.833333
  11  0.785714  0.833333  0.809524

In [16]:
result[["user_id","jd_no"]].to_csv("submission3_vivi.csv",index=False)